name: oidc-poc1
on:
    push:
        branches:
            - '*'
jobs:
    auth:
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - uses: jfrog/setup-jfrog-cli@v4
              env:
                  JF_URL: https://ecosysjfrog.jfrog.io 
              with:
                  version: 2.87.0
                  oidc-provider-name: ashritha 
                  oidc-audience: jfrog-github
            - name: list token
              env:
                    OIDC_AUDIENCE: "jfrog-github"
                    OIDC_PROVIDER: "ashritha"
                    ACCESS_TOKEN: ${{ env.ACCESS_TOKEN }}
              run: |
                     RESPONSE=$(curl -s -o response.json -w "%{http_code}" -X POST -H "Content-type: application/json" https://ecosysjfrog.jfrog.io/access/api/v1/oidc/token -d \ "{\"grant_type\": \"urn:ietf:params:oauth:grant-type:token-exchange\",\"subject_token_type\":\"urn:ietf:params:oauth:token-type:id_token\",\"subject_token\": \"${{ env.ID_TOKEN }}\",\"provider_name\": \"${{ env.OIDC_PROVIDER }}\"}") echo "API Response:" echo "$RESPONSE"
            # Fetch file using the OIDC generated token
            - name: Ping Artifactory
              run: |
                jf rt ping
                
            - name: Create Dockerfile
              run: |
                cat <<'EOF' > Dockerfile
                FROM ecosysjfrog.jfrog.io/docker-remote/nginx:1.28.0

                WORKDIR /app

                COPY . /app

                CMD ["echo", "Hello from Debian-based Nginx!"]
                EOF

            - name: Cat Docker file 
              run:  |
                cat ./Dockerfile

            - name: jf docker build
              env: 
                   JFROG_RUN_NATIVE: true
                   JFROG_CLI_LOG_LEVEL: DEBUG
              run:  |
                 jf docker build -t ecosysjfrog.jfrog.io/docker-local/test-image:v1 --push --build-name=docker-test-build --build-number=1 .

            - name: jf bp 
              run:  |                
                 jf rt bp docker-test-build 1
